/* Start Variables */
:root {
    --main-color : #1896ba ;
    --transparent-color : rgb(15 116 143 / 70%) ;
    --section-padding : 100px 0 ;
}
/* Start Variables */
/* Start Global Rulse */

* {
    -webkit-box-sizing  : border-box ;
    -moz-box-sizing     : border-box ;
     box-sizing         : border-box ;
     padding : 0 ;
     margin  : 0 ;
}
html {
    scroll-behavior : smooth ;
}
body {
    font-family : 'Open Sans', sans-serif ;
}
ul {
    list-style : none ;
}
.container {
    margin     : 0 auto ;
    padding    : 0 15px ;
}

/* Media Query */
/* Small Screen */

@media ( min-width : 768px ) {
    .container {
        width : 750px ;
    }
}

/* Medium Screen */

@media ( min-width : 992px ) {
    .container {
        width : 970px ;
    }
}

/* Large Screen */

@media ( min-width : 1200px ) {
    .container {
        width : 1170px ;
    }
}

/* End Global Rules */

/* Start Components  */

.main-heading {
    text-align : center ;
}
.main-heading h2 {
    color         : var(--main-color);
    font-size     : 40px ;
    position      : relative ;
    margin-bottom : 70px ;
}
.main-heading h2::before {
    content   : '' ;
    width     : 130px ;
    height    : 2px ;
    position  : absolute ;
    bottom    : -30px ;
    left      : 50% ;
    transform : translateX(-50%) ;
    background-color : #333 ;
}
.main-heading h2::after {
    content   : '' ;
    position  : absolute ;
    bottom    : -38px;
    left      : 50%;
    transform : translateX(-50%);
    width     : 14px ;
    height    : 14px ;
    border    : 2px solid #333 ;
    border-radius : 50% ;
    background-color : white ;
}
.main-heading p {
    width       : 600px;
    margin      : 0 auto 100px;
    max-width   : 100%;
    font-size   : 21px ;
    line-height : 2;
    color       : #444;
}
/* End Components  */

/* Start Header */
header {
    position : absolute ;
    left     : 0 ;
    width    : 100% ;
    z-index  : 2 ;
}
header .container {
    display         : flex ;
    justify-content : space-between ;
    align-items     : center ;
    position        : relative ;
}
header .container::after {
    content    : "" ;
    background : #a2a2a2 ;
    height     : 1px ;
    width      : calc( 100% - 30px ) ;
    position   : absolute ;
    bottom     : 0 ;
    left       : 15px ;
}
header main a {
    display : flex ;
    text-decoration: none;
}
header main a img {
    max-height: 65px;
    padding-top: 3px;
}
header main a h1 {
    color: white;
    font-size: 28px;
    padding: 8px 0 0 3px;
}
header nav {
    display : flex ;
    align-items : center ;
    justify-content : flex-end ;
}
header nav .toggel-menu {
    color     : white ;
    font-size : 22px ;
}
@media (min-width : 768px) {
    header nav .toggel-menu {
        display : none ;
    }
}
header nav ul {
  display : flex ;
}
@media (max-width : 767px) {
    header nav ul {
        display : none ;
    }
    header nav .toggel-menu:hover + ul {
    display          : flex ;
    flex-direction   : column ;
    position         : absolute;
    top              : 100% ;
    left             : 0 ;
    width            : 100% ;
    background-color : rgb(0 0 0 / 50%) ;
    }
    header nav ul li a {
    padding : 15px !important ;
    }
    
}

header nav ul li a {
    display         : block ;
    color           : white ;
    text-decoration : none ;
    font-size       : 16px ;
    font-weight     : bold ;
    padding         : 32px 10px ;
    transition      : 0.3s ;
    position        : relative ;
    z-index         : 2 ;
    
}
header nav ul li a.active ,
header nav ul li a:hover {
    color         : var(--main-color) ;
    border-bottom : 1px solid var(--main-color ) ;
}
header nav .form {
    width    : 40px ;
    height   : 30px ;
    position : relative ;
    border-left : 1px solid white
}
@media (max-width : 767px) {
    header nav .form {
        margin-left : 20px ;
    }
}
header nav .form i {
    color     : white ;
    font-size : 20px ;
    position  : absolute ;
    right     : 0 ;
    top       : 50% ;
    transform : translateY(-50%);
    cursor    : pointer ;
}
/* End Header */
/* Start Landing */
.landing {
    min-height : 100vh ;
    background-color : #19c8fa ;
    background-image : url('/images/landing.jpeg') ;
    background-size : cover;
    position : relative ;
}
.landing .overlay {
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    height   : 100% ;
    width    : 100% ;
    background-color : rgb(0 0 0 / 45%) ;
}
.landing .text {
    width            : 50% ;
    position         : absolute ;
    left             : 0 ;
    top              : 50% ;
    transform        : translateY(-50%);
    padding          : 50px ;
    background-color : var(--transparent-color) ;
    color            : white ;
    display          : flex ;
    justify-content  : flex-end;
}
.landing .text .content {
    max-width : 800px ;
}
@media (max-width : 767px) {
    .landing .text {
        width : 100% ;
    }
    .landing .text .content {
        max-width : 100% ;
    }
}
  .landing .text .content h2 {
    font-size     : 32px ;
    font-weight   : normal ;
    line-height   : 1.5 ;
    margin-bottom : 20px ;
}
  .landing .text .content p {
    font-size   : 19px ;
    line-height : 1.7 ;
}
.landing .arrows {
      width     : 100% ;
      position  : absolute ;
      top       : 50% ;
      transform : translateY(-50%) ;
      color     : #CCC ;
      font-size : 30px ;
      display   : flex ;
      justify-content : space-between ;
      padding   : 0 25px  ;
      cursor    : pointer ;
}
.landing .bullets {
  position  : absolute ;
  left      : 50%  ;
  bottom    : 30px ;
  transform : translateX(-50%) ;
  display   : flex ;
}
.landing .bullets li {
  width  : 20px;
  height : 20px;
  border : 1px solid white;
  border-radius : 50%  ;
  margin-right  : 10px ;
  cursor        : pointer ;
}
.landing .bullets li.active {
    background-color : var(--main-color) ;
}
/* End Landing */

/* Start Serivces */

.services {
    padding : var(--section-padding) ;
}
@media (min-width : 768px) {
    .services .srv-container {
        display : grid ;
        grid-template-columns : repeat(auto-fill, minmax(450px, 1fr))  ;
        gap : 60px ;
    }
}

.services .srv-box {
    display : flex ;
}
.services .srv-box i {
    margin-right : 50px ;
    font-size : 300% ;
}
@media (max-width: 767px) {
    .services .srv-box {
      display        : flex ;
      flex-direction : column ;
      text-align     : center ;
      margin-bottom  : 40px ;
    }
    .services .srv-box i {
      margin : 0 0 30px ;
    }
}
.services .srv-box .text h3 {
    color : var(--main-color) ;
    margin-bottom : 30px ;
}
.services .srv-box .text p {
    line-height : 2 ;
    color       : #111 ;
}
/* End Serivces */

/* Start Design */

.design {
    padding     : var(--section-padding) ;
    height      : 600px ;
    position    : relative ;
    display     : flex ;
    align-items : center;
    background-image : url('/images/back-1.jpg') ;
    background-size  : cover ;
}
.design::before {
    content  : '' ;
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    width    : 100% ;
    height   : 100% ;
    background-color : rgb(0 0 0 / 50%) ;
}
.design .image,
.design .text {
  position : relative ;
  z-index  : 2 ;
  flex     : 1 ;
}
.design .image {
    text-align : center ;
}
.design img {
    position : relative ;
    bottom   : -130px ;
}
.design .text {
    color   : white ;
    padding : 50px ;
    background-color : var(--transparent-color) ;
}
@media (max-width: 767px) {
    .design .image {
      display : none ;
    }
}
.design .text h2 {
    font-weight    : normal ;
    margin-bottom  : 40px ;
}
.design .text ul li {
    padding   : 15px 0 ;
    font-size : 19px ;
}
.design .text ul li::before {
    content      : '\f108' ;
    font-family  : "Font Awesome 5 Free" ;
    font-weight  : 900 ;
    margin-right : 20px ;
    position     : relative ;
    top          : 1px ;
}

/* End Design */

/* Start Portfollio */

.portfolio {
    padding : var(--section-padding) ;
}
.portfolio .filter {
    display : flex ;
    justify-content : center ;
}
.portfolio .filter li {
    padding : 10px ;
    cursor  : pointer ;
}
.portfolio .filter li.active {
    color : white ;
    background-color : var(--main-color) ;
}
.portfolio .imgs-container {
    display     : flex ;
    flex-wrap   : wrap ;
    padding-top : 60px ;
}
.portfolio .imgs-container .box {
    overflow : hidden ;
    position : relative ;
  }
  .portfolio .imgs-container .box:hover figcaption {
      bottom : 0 ;
  }
  .portfolio .imgs-container .box:hover img {
      transform : rotate(3deg) scale(1.1) ;
  }
  @media (min-width: 768px) {
    .portfolio .imgs-container .box {
      flex-basis : 50% ;
    }
  }
  @media (min-width: 1199px) {
    .portfolio .imgs-container .box {
      flex-basis : 25% ;
    }
  }
  .portfolio .imgs-container .box img {
    max-width  : 100% ;
    transition : 0.3s ;
  }
  .portfolio .imgs-container .box figcaption {
    position : absolute ;
    left     : 0 ;
    bottom   : -100% ;
    width    : 100% ;
    padding  : 20px ;
    transition : 0.3s ;
    background-color : white ;
  }
.portfolio .box figcaption h3 {
    margin-bottom : 10px ;
    color       : var(--main-color) ;
}
.portfolio .more {
    display   : block ;
    font-size : 20px ;
    padding   : 15px 35px ;
    margin    : 30px auto ;
    width     : fit-content ;
    color     : white ;
    text-decoration  : none ;
    background-color : var(--main-color) ;

}
/* End Portfollio */

/* Start Video */

.techno-video {
    position : relative ;
}
.techno-video video {
    width : 100% ;
}
.techno-video .text {
    width      : 100% ;
    position   : absolute ;
    top        : 92% ;
    transform  : translateY(-50%) ;
    color      : white ;
    padding    : 50px ;
    text-align : center ;
}
.techno-video .text h2 {
    margin-bottom  : 20px ;
    font-weight    : normal ;
}
.techno-video .text p {
    font-size : 18px ;
    margin-bottom : 25px ;
}
.techno-video .text button {
    color   : white ;
    padding : 10px 20px ;
    border  : none ;
    cursor  : pointer ;
    background-color : #111 ;
}

/* End Video */

/* Start About */

.about {
    padding-top : 100px ;
    overflow    : hidden ;
    text-align  : center ;
  }
  .about img {
    position   : relative ;
    bottom     : -120px ;
    left       : -15px ;
    margin-top : -120px ;
    max-width  : 100% ;
  }
  @media (max-width: 767px) {
    .about img {
      bottom: -60px;
      margin-top: -60px;
    }
  }

/* End About */

/* Start Statistics */

.statistics {
    padding    : var(--section-padding) ;
    text-align : center ;
    position   : relative ;
    background-image : url('/images/social-7.jpeg') ;
    background-size  : 100% 100% ;
}
.statistics::before {
    content  : '' ;
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    width    : 100% ;
    height   : 100% ;
    background-color : rgb(0 0 0 / 55%) ; 
}
.statistics .container {
    position  : relative ;
    display   : flex ;
    flex-wrap : wrap ;
}
.statistics .container .box {
    padding : 50px ;
    color   : white ;
    background-color : var(--transparent-color) ;
}
@media ( max-width : 767px ) {
    .statistics .container .box {
        flex-basis : 100% ;
    }
}
@media ( min-width : 768px ) {
    .statistics .container .box {
        flex-basis : 50% ;
    }
}
@media ( min-width : 992px ) {
    .statistics .container .box {
        flex-basis : 25% ;
    }
}
.statistics .container .box i {
    
    width       : 50px ;
    height      : 50px ;
    font-size   : 20px ;
    display     : grid ;
    place-items : center ;
    margin      : 0 auto 30px ;
    background-color : black ;
    border-radius    : 50% ;

}
.statistics .container .box .number {
    font-size     : 50px ;
    font-weight   : bold ;
    margin-bottom : 20px ;
}

/* End Statistics */

/* Start Skills */

.our-skills {
    padding : var(--section-padding) ;
}
.our-skills .container {
    display   : flex ;
    flex-wrap : wrap ;
    justify-content : space-between ;
}
@media ( min-width : 992px ) {
    .our-skills .container > div {
        flex-basis : 45% ;
    }
}
.our-skills .container > div > h2 {
    margin         : 0 auto 40px;
    width          : fit-content;
    border-bottom  : 3px solid var(--main-color);
    padding-bottom : 10px;
    font-weight    : 600 ;
    text-align     : center ;
}
.our-skills .container > div > p {
    color         : #111 ;
    line-height   : 2 ;
    text-align    : center ;
    margin-bottom : 50px ;
}
.our-skills  .testimonials .content {
    display       : flex ;
    align-items   : center ; /* Very Important */
    margin-bottom : 30px ;
}
.our-skills  .testimonials .content img {
    width : 120px ;
    /* height : 100px ; */
    border-radius : 50% ;
    margin-right  : 50px ;;
}
@media ( max-width : 767px ) {
    .our-skills  .testimonials .content {
    flex-direction : column ;
    text-align     : center ;
    }
    .our-skills  .testimonials .content img {
        margin : 0 auto 30px ;
    }
}
.our-skills  .testimonials .text {
    line-height   : 1.8 ;
    border-bottom : 1px solid #CCC ;
}
.our-skills  .testimonials .text .ceo {
    text-align    : right ;
    color         : #444 ;
    margin-bottom : 10px ;   
}
.our-skills  .testimonials .bullets {
    display         : flex ;
    justify-content : center ;
    margin          : 67px 0 ;
}
.our-skills  .testimonials .bullets li {
    width  : 17px ;
    height : 17px ;
    border : 1px solid #444 ;
    cursor : pointer ;
    border-radius : 50% ;
    margin-right  : 10px ;
}
.our-skills  .testimonials .bullets .active {
    background-color : var(--main-color) ;
    border-color     : var(--main-color) ;
}

.our-skills .skills .prog-holder {
    margin-bottom : 40px ;
}
.our-skills .skills .prog-holder h4 {
    font-weight    : normal ;
    margin-bottom  : 15px ;
}
.our-skills .skills .prog-holder .prog {
    height : 27px ;
    background-color : #dedadc ;
}
.our-skills .skills .prog-holder .prog span {
    display  : block ;
    height   : 100% ;
    position : relative ;
    background-color : var(--main-color) ;
}
.our-skills .skills .prog-holder .prog span::before {
    content    : attr(data-progress) ;
    color      : white ;
    position   : absolute ;
    top        : -43px ;
    right      : -18px ;
    width      : 40px ;
    padding    : 6px 1px ;
    text-align : center ;
    border-radius: 4px;
    background-color : black ;
}
.our-skills .skills .prog-holder .prog span::after {
    content  : '' ;
    position : absolute ;
    border-style : solid ;
    border-width : 8px ;
    border-color: black transparent transparent  ;
    right: -6px;
    top: -13px;
}
/* End Skills */

/* Start Quote */

.quote {
    padding : var(--section-padding) ;
    position   : relative ;
    color      : white ;
    text-align : center ;
    background-image : url('/images/quote.jpg') ;
    background-size  : 100% 100% ;
}
.quote::before {
    content  : '' ;
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    width    : 100% ;
    height   : 100% ;
    background-color: rgb(0 0 0 / 45%);
}
.quote .container {
    position : relative ;
}
.quote .container q {
    display        : block ;
    font-size      : 34px ;
    margin-bottom  : 20px ;
    font-family    : 'Trade Winds' ;
    text-transform : capitalize;
    word-spacing   : 7px ;
    
}
.quote .container q::before {
    font-family : "Font Awesome 5 Free" ;
    content     : "\f10d" ;
    font-weight : 900 ;
}
.quote .container q::after {
    font-family : "Font Awesome 5 Free" ;
    content     : "\f10e" ;
    font-weight : 900 ;
}
.quote .container span {
    display     : block ;
    text-align  : right ;
    padding-top : 45px ;
    font-size: 18px;
}
/* End Quote */

/* Start Pricing */

.pricing {
    padding : 35px 0 ;
}
.pricing .container .main-heading p {
    margin-bottom: 60px;
}
.pricing .container .plans {
    display : grid ;
    grid-template-columns : repeat( auto-fill, minmax(250px, 1fr) ) ;
    gap : 30px ;
}
.pricing .container .plans .plan {
    text-align      : center ;
    border          : 2px solid var(--main-color);
    border-radius   : 20px;
    background-color: #f8f6f6 ;
    box-shadow      : 0 12px 20px 0 rgb(0 0 0 / 13%),
                      0 2px 4px 0 rgb(0 0 0 / 12%);
}
.pricing .plans .plan .head {
    padding       : 30px 0 20px ;
    border-bottom : 1px solid var(--main-color) ;
}
.pricing .plans .plan .head span {
    display   : block ;
    font-size : 22px ;
    margin-bottom  : 8px ;
}
.pricing .plans .plan .head h3 {
    font-size : 60px ;
    color       : var(--main-color) ;
}
.pricing .plans .plan .head sup {
    font-size : 26px ;
    color       : var(--main-color) ;
    position  : relative ; 
    right     : 52px ;
    top       : 25px ;
}
.pricing .plans .plan .head sub {
    font-size   : 20px ;
    color       : var(--main-color) ;
    font-weight : bold ;
    position    : relative ;
    left        : 68px ;
    bottom      : 22px ;
}
.pricing .plans .plan ul {
    border-bottom : 1px solid var(--main-color) ;
}
.pricing .plans .plan ul li {
    padding  : 20px ;
    position : relative ;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content  : '' ;
    width    : 140px ;
    height   : 1px ;
    position : absolute ;
    left     : 50% ;
    transform : translateX(-50%) ;
    bottom    : 0 ;
    background-color : var(--main-color) ;
}
.pricing .plans .plan .buy-now a {
    display : block ;
    margin  : 30px auto ;
    border  : 1px solid var(--main-color) ;
    padding : 13px 35px ;
    width   : fit-content ;
    color   : black ;
    text-decoration: none;
    transition  : 0.3s ;
    border-radius: 7px;
}
.pricing .plans .plan .buy-now a:hover {
    color            : white ;
    font-weight      : bold ;
    background-color : var(--main-color);
}
.pricing .contact-text {
    margin     : 50px auto 30px ;
    text-align : center ;
    font-size  : 22px ;
}
.pricing .contact-link {
    display       : block ;
    margin        : 20px auto ;
    text-align    : center ;
    color         : white ;
    width         : fit-content ;
    padding       : 15px 30px ;
    font-size     : 20px ;
    border-radius : 5px ;
    text-decoration : none ;
    background-color: var(--main-color) ;
}
/* End Pricing */

/* Start Subscribe */

.subscribe {
    padding  : var(--section-padding) ;
    position : relative ;
    color    : white ;
    background-image : url(/images/subscribe.jpg) ;
    background-size  : cover ;
}
.subscribe::before {
    content  : '' ;
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    width    : 100% ;
    height   : 100% ;
    background-color : rgb( 0 0 0 / 40% );
}
.subscribe .container {
    position : relative ;
    display  : flex ;
    align-items : center ;
}
@media ( max-width : 991px ) {
    .subscribe .container {
        flex-direction : column ;
    }
}
.subscribe .container form {
    display   : flex ;
    position  : relative ;
    width     : 500px ;
    max-width : 100% ;
}
.subscribe form input[type='email'] {
    padding      : 20px 20px 20px 60px;
    border       : 1px solid white;
    border-right : none ;
    background   : none;
    color        : white;
    caret-color  : var(--main-color) ;
    width        : calc( 100% - 130px ) ;
}
.subscribe form i {
    position  : absolute ;
    top       : 50% ;
    transform : translateY(-50%) ;
    left      : 24px ;
    font-size : 26px ;
}
.subscribe form input[type='submit'] {
    width       : 130px ;
    padding     : 20px ;
    border      : 1px solid white ;
    border-left : none ;
    color       : white ;
    background-color : var(--main-color) ;
}
.subscribe form ::placeholder {
    color : white ;
    padding-left: 5px;
}
.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus {
    outline : none ;
}
.subscribe p {
    line-height : 2 ;
    margin-left : 50px ;
    text-align  : center ;
}
@media ( max-width : 991px ) {
    .subscribe p {
        margin-top : 30px ;
    }
}
/* End Subscribe */

/* Start Contact Us */

.contact-us {
    padding : var(--section-padding) ;
}
.contact-us .content {
    display : flex ;
    justify-content : space-between ;
}
@media ( max-width : 767px ) {
    .contact-us .content {
        flex-direction : column-reverse ;
        text-align     : center ;
    }
}
/* @media (max-width: 767px) {   <== حل بديل 
    .contact-us .content .info {
      order: -1;
      text-align: center;
    }
} */
.contact-us .content form {
    flex-basis : 70% ;
}
.contact-us .content form .main-input {
    display : block ;
    width   : 100% ;
    padding : 20px ;
    border  : 1px solid #CCC ;
    border-radius : 11px ;
    margin-bottom : 30px ;
}
.contact-us .content form .main-input:focus {
    outline : none ;
}
.contact-us .content form textarea {
    height : 200px ;
    resize : none ;
}
.contact-us .content form input[type='submit'] {
    padding        : 20px;
    font-size      : 20px;
    border         : none ;
    border-radius  : 30px ;
    display        : flex ;;
    margin-left    : auto;
    cursor         : pointer;
    color          : white;
    background-color: var(--main-color);
}
.contact-us .content .info {
    flex-basis : 25% ;
}
@media ( max-width : 767px ) {
    .contact-us .content .info {
        display       : flex ;
        margin-bottom : 30px;
        justify-content : space-around;
    }
    .contact-us .content .info .adr {
        margin  : 0 !important ;
    }
}
.contact-us .content .info h4 {
    text-transform : uppercase;
    margin-bottom  : 30px ;
    font-size: 18px ;;
}
.contact-us .content .info .phone-num {
    display : block ;
    color   :#444 ;
    margin-bottom : 10px ;
}
.contact-us .content .info .adr {
    margin-top: 90px;
}
.contact-us .content .info address {
    color : #444 ;
    line-height : 2 ;
}
/* End Contact Us */

/* Start Footer */
footer {
    /* padding : calc(var(--section-padding) / 2) ;  */
    padding    : 30px 0 20px 0 ;
    position   : relative ;
    color      : white ;
    text-align : center ;
    background-image : url('/images/end-6.jpg') ;
    background-size  : 100% 160% ;
}
footer::before {
    content  : '' ;
    position : absolute ;
    top      : 0 ;
    left     : 0 ;
    width    : 100% ;
    height   : 100% ;
    background-color: rgb(0 0 0 / 50%);
}
footer .container {
    position : relative ;
}
footer .my-logo a {
    display : flex ;
    justify-content: center;
    text-decoration: none;
}
footer .my-logo a img {
    max-height: 65px;
    padding-top: 3px;
}
footer .my-logo a h2 {
    color: white;
    font-size: 28px;
    padding: 28px 0 0 4px;
}
footer p:not(.copy-right) {
    margin         : 23px auto 12px;
    padding        : 20px ;
    font-size      : 28px ;
    width          : fit-content ;
    border-bottom  : 1px solid white ;
}
footer .social-icons a {
    color : white;
}
footer .social-icons i {
    padding   : 10px 15px ;
    font-size : 25px ;
    cursor    : pointer ;
}
footer .social-icons .fa-facebook-f:hover {
    background-color: #164ab7 ;
    border-radius   : 50% ;
}
footer .social-icons .fa-github:hover {
    background-color: #24292f ;
    border-radius   : 50% ;
}
footer .social-icons .fa-instagram:hover {
    background-color: rgb(213 52 52 / 1) ;
    border-radius   : 50% ;
}
footer .social-icons .fa-linkedin:hover {
    background-color: #0e76a8 ;
    border-radius   : 50% ;
}
footer .copy-right {
    margin-top: 30px;
    font-size: 17px;
}
footer .copy-right span {
    color : var(--main-color) ;
    font-weight: bold;
}
/* End Footer */